* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;

    --main: black;
    --sub-main: white;
    --channel-color: #d80000;
    --reference-link-color: #4062b7;

    --block-content-hight: 41em;
    --border-content-size: 2px;
    --main-size: 1em;
    --sec-size: .5em;
    --thir-size: .9em;
}

/* ----- MEDIA QUERIES ----- */
@media screen and (min-width: 768px) {
    .container-display-general {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1000px) {
    .container-display-general {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) {
    #mini-projects .container-display-mini-projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) {
    #container-variables, #container-user-input, #container-setTimeOut,
    #container-DOM, #container-slider, #container-fetch {
        margin-right: var(--sec-size);
    }
}


/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: space-between;
    margin: var(--main-size);
}

.holder-slogan #slogan-name { text-indent: 1em; }
#project-link { color: var(--usual-color); }
#project-link:hover { text-decoration: underline; }


/* ----- MAIN ----- */
/* mini projects */
#mini-projects {
    margin: var(--main-size);
    padding: var(--sec-size);
    height: 30em;
    border: var(--border-content-size) solid;
    overflow-y: scroll;
    scrollbar-width: none;
}
#mini-projects .title {
    margin: 0 0 var(--sec-size) 0;
}

#container-variables, #container-user-input, #container-setTimeOut,
#container-DOM, #container-slider, #container-fetch {
    padding: var(--main-size);
    margin-bottom: var(--sec-size);
    border: 2px solid;
}

/* #container-variables > .holder-variable-title,
#container-user-input > .holder-user-input-title {} */

#container-first, #container-second, #container-third, #container-fourth, #container-fifth,
#container-sixth {
    margin: var(--main-size);
    padding: var(--sec-size);
    height: var(--block-content-hight);
    border: var(--border-content-size) solid;
    overflow-y: scroll;
    scrollbar-width: none;
}

#container-first .title-content,
#container-second .title-content,
#container-third .title-content, 
#container-fourth .title-content,
#container-fifth .title-content,
#container-sixth .title-content {
    border-bottom: 2px solid var(--main);
}

#container-internet .reference-study-link, 
#container-html .reference-study-link,
#container-css .reference-study-link,
#container-js .reference-study-link,
#container-git-github .reference-study-link, 
#container-npm .reference-study-link {
    padding: var(--sec-size);
    margin: var(--sec-size) 0;
    font-size: var(--thir-size);
    border-left: 3px solid var(--reference-link-color);
}
.reference-study-link .reference-video { font-weight: bold; color: var(--reference-link-color); }
.reference-study-link .channel { font-weight: bold; color: var(--channel-color); }

#container-internet .subtitle, 
#container-html .subtitle,
#container-css .subtitle,
#container-js .subtitle, 
#container-git-github .subtitle,
#container-npm .subtitle {
    margin-top: var(--sec-size);
}

#container-internet .holder-list,
#container-html .holder-list,
#container-css .holder-list, 
#container-js .holder-list,
#container-git-github .holder-list,
#container-npm .holder-list {
    border: 2px solid;
}

#container-internet .list-item,
#container-html .list-item,
#container-css .list-item,
#container-js .list-item,
#container-git-github .list-item,
#container-npm .list-item {
    padding: var(--sec-size);
    text-indent: 1em;
    border-bottom: 2px solid;
}

audio { width: 13em; }
.obs { color: var(--channel-color); }

/* ----- CSS ----- */
#p1 { color: forestgreen; }
#p2 { color: rgb(101, 55, 12); }
#p3 { color: hsl(334, 77%, 36%); }

/* FOOTER */
footer {
    background-color: var(--reference-link-color);
}
footer .social-links {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    padding: var(--sec-size);
}
.social-links > #lin, #git, #insta {
    margin-right: var(--sec-size);
}
#lin>a, #git>a, #insta>a {
    color: var(--main);
    text-decoration: none;
}
#topicDOMMyButton {
    background-color: hsl(240, 0%, 52%);
    border: none;
    margin: var(--main-size) 0 var(--main-size) 0;
    padding: var(--main-size);
    cursor: pointer;
}
.big-text {
    font-size: 1.3em;
}
.slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider img {
    width: 100%;
    display: none;
}
img.displaySlide {
    display: block;
}

/* npm */
.npm-init {
    width: 15em;
}
@media screen and (min-width: 768px) {
    .npm-init {
        width: 20em;
    }
}
@media screen and (min-width: 1440px) {
    .npm-init {
        width: 25em;
    }
}
.npm-init-configs {
    width: 15em;
}
@media screen and (min-width: 768px) {
    .npm-init-configs {
        width: 20em;
    }
}
@media screen and (min-width: 1440px) {
    .npm-init-configs {
        width: 25em;
    }
}