* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    text-decoration: none;

    --primary-color: #4062b7;
    --usual-color: black;
    --next-usual-color: white;
    --obs-color: #d80000;

    --usual-size: 1em;
    --next-usual-size: .5em;
    --main-font-size: .9em;
}

/* HEADER */
header { margin: var(--usual-size); }
/* #name-project-header, #slogan-project-header { text-align: center; } */
.container-general-header {
    display: flex;
    justify-content: space-between;
}
.projects { color: var(--usual-color); }
.projects:hover { text-decoration: underline; }
/* ====================== */

/* MAIN */
@media screen and (min-width: 768px) {
    .container-display-general {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .container-project-general {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .checkpoint {
        display: none;
    }
}
audio {
    width: 13em;
}
.obs {
    color: var(--obs-color);
}
.container-first, .container-second, .container-third, .container-fourth, .container-fifth,
.container-project-first, .container-project-second, .container-project-third, .container-project-fourth, .container-project-fifth {
    height: 41em;
    overflow-y: scroll;
    margin: var(--usual-size);
    border: 2px solid;
    padding: var(--next-usual-size);
}
.container-first>.topic-content, 
.container-second>.topic-content,
.container-third>.topic-content,
.container-fourth>.topic-content, 
.container-fifth>.topic-content {
    border-bottom: 2px solid;
    background-color: var(--next-usual-color);
}
.container-first>.title-content, 
.container-second>.title-content, 
.container-third>.title-content,
.container-fourth>.title-content, 
.container-fifth>.title-content {
    margin-top: var(--usual-size);
}
.container-first .studybook, 
.container-second .studybook, 
.container-third .studybook,
.container-fourth .studybook, 
.container-fifth .studybook {
    width: 15em;
    padding: .6em;
    margin: var(--next-usual-size) 0 var(--next-usual-size) 0;
    font-size: var(--main-font-size);
    border-left: 3px solid var(--primary-color);
}
.studybook .font-styles {
    font-style: italic;
    font-weight: 700;
}
.studybook .links {
    color: var(--usual-color);
    font-size: var(--main-font-size);
}
.links:visited {
    color: var(--primary-color);
}
.studybook .profile-channel {
    color: var(--usual-color);
    font-weight: 700;
}
.container-first>.study-menu-list-holder, 
.container-second>.study-menu-list-holder, 
.container-third>.study-menu-list-holder,
.container-fourth>.study-menu-list-holder,
.container-fifth>.study-menu-list-holder {
    border: 2px solid;
}
.study-menu-list-holder .study-list{
    border-bottom: 2px solid;
    text-indent: 1em;
    padding: var(--next-usual-size);
}
.study-list .specific-style{
    font-weight: bold;
}
.study-menu-list-holder .study-list:last-child{
    border: none;
}
.container-first>.study-topic-subtitle,
.container-second>.study-topic-subtitle,
.container-third>.study-topic-subtitle,
.container-fourth>.study-topic-subtitle, 
.container-fifth>.study-topic-subtitle {
    margin-top: var(--next-usual-size);
}
.study-topic-subtitle .number-topic{
    color: var(--primary-color);
}

/* CSS */
#p1 {
    color: forestgreen;
}
#p2 {
    color: rgb(101, 55, 12);
}
#p3 {
    color: hsl(334, 77%, 36%);
}
#test-small-text {
    margin: var(--next-usual-size) 0;
    border: 3px solid darkorange; /* shorthand */
    border-style: dashed;
    font-weight: 900;
    font-size: 1.5em;
    border-radius: 3px;
    /* border-style: dotted;
    border-style: double;
    border-style: groove;
    border-style: hidden;
    border-style: none;
    border-style: outset;
    border-style: inset;
    border-style: ridge; */

    /* border-style: solid;
    border-width: 3px;
    border-color: darkorange; */
}
#test-text {
    margin: var(--next-usual-size) 0;
    border-bottom: 4px solid greenyellow;
    border-top: 6px solid firebrick;
    border-left: 6px dotted black;
    border-right: 6px outset blue;
}
.container-display #test-shadow {
    font-size: 3em;
    margin-right: var(--next-usual-size);
    text-shadow: 3px 5px 2px red, -3px -5px 2px blue;
}
.container-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
#font-lorem {
    /* font-family: 'Courier New', Courier, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Verdana, sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
}
#box1 {
    width: 50px;
    height: 50px;
    background-color: rgb(201, 201, 201);
    
    box-shadow: 3px 3px 5px green;
}
.box {
    border: 5px solid;
    font-size: 2em;
    height: 100px;
    width: 100px;
}
#box1-margin {
    background-color: brown;
    margin-left: 50px;
}
#box2-margin {
    background-color: darkturquoise;
}
/* ====================== */
/* CHECKPOINT */
.checkpoint {
    padding: var(--usual-size);
    background-color: var(--primary-color);
    color: var(--next-usual-color);
}
/* .checkpoint .checkpoint-text{} */
/* ====================== */
#container {
    border: 2px solid;
}
/* #container p { background-color: crimson; }
#container > p { background-color: crimson; }
#container ~ p { background-color: crimson; } */
#container + p {
    background-color: crimson;
}
#pseudo::first-letter {
    font-size: 2em;
    font-style: italic;
}
#lorem-text-pseudo::first-line {
    background-color: saddlebrown;
}
#lorem-text-pseudo::selection {
    color: green;
    background-color: rgb(65, 65, 65);
}
#fruit > #apple::after {
    content: ", muito bom!!";
}
.container-fourth .space-up {
    padding-top: var(--usual-size);
    padding-bottom: var(--next-usual-size);
}
/* ====================== */
/* FOOTER */
footer {
    background-color: var(--primary-color);
}
footer .social-links {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    padding: var(--next-usual-size);
}
.social-links > #lin, #git, #insta {
    margin-right: var(--next-usual-size);
}
#lin>a, #git>a, #insta>a {
    color: var(--next-usual-color);
    text-decoration: none;
}
#myButton {
    background-color: hsl(240, 0%, 52%);
    border: none;
    margin: var(--usual-size) 0 var(--usual-size) 0;
    padding: var(--usual-size);
    cursor: pointer;
}
.big-text {
    font-size: 1.3em;
}
.slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider img {
    width: 100%;
    display: none;
}
img.displaySlide {
    display: block;
}

#container-internet {
    border: 10px solid;
    height: 10em;
}