body {
    background-color: slategray;
}

#ul-test {
    background-color: white;
}

.warning {
    color: rgb(208, 1, 1);
}
#p1 {
    color: forestgreen;
}
#p2 {
    color: rgb(101, 55, 12);
}
#p3 {
    color: hsl(334, 77%, 36%);
}

#font-lorem {
    /* font-family: 'Courier New', Courier, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Verdana, sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
}