@import url('../main.css');

/* COUNTER */
.container-project-general .containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-project-first #number-change { margin: var(--next-usual-size); }
.btn-cta {
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
    padding: var(--next-usual-size);
}
.btn-cta:hover {
    background-color: var(--usual-color);
    color: var(--next-usual-color);
    transition: background-color .5s, color .5s;
}

/* GENERATOR */
.container-project-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-random-01 #random01 { padding: var(--next-usual-size); }
#explanation-text {
    width: 20em;
    padding: var(--next-usual-size);
}
@media screen and (min-width: 1024px) {
    #explanation-text {
        width: 30em;
    }
}

/* CHECKED */
#secondMySub {
    margin-top: var(--next-usual-size);
}
.result-texts {
    width: 10em;
}

/* CONVERSION */

.container-project-fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-project-fourth form{
    text-align: center;
}
#title-h1 {
    margin-bottom: var(--next-usual-size);
}
#textbox {
    margin-bottom: var(--next-usual-size);
    /* font-size: 1.1em; */
}
.btn-test {
    margin-top: var(--usual-size);
}
.mt {
    margin-top: var(--usual-size);
}